*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
     background-color: #ECF8F6;
     font-family: Arial, Helvetica, sans-serif;
     height: 100vh;
     text-decoration: none;
     
} 
.body{
  padding: 5%;
  background-color: #f1f1f1;
}

h1 a{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color:#41e8a2;
    text-align:center;
}

h1 a:hover{
    color: white;

}

div{

    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.titleF 
{
display: flex;
flex-direction: column;
gap: 10pxpx;
padding-bottom: 15px;
}



 .search-container button {
    background-color: #41e8a2;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;}

     
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      label {
        font-weight: bold;
      }
      
      input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
        width: 500px;
        padding: 5px;
        border: 1px solid #ccc;
      }
      
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        color: #333;
      }
      
      input[type="submit"] {
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
      }

      .btn{
        display: flex;
        justify-content: flex-end;
      }
     .btn  button{
        width: 100px;
        height: 35Px;
        border-radius: 10px;
        border: none;
        background-color: #41e8a2;
        color: white;
        cursor: pointer;
    }


