*, ::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background-color: #ECF8F6;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------------------------------Css General-------------------------------------------------- */
.body{
  
  margin-bottom:  10px;
    padding: 0 10% 0 10%;
    background-color: #ECF8F6;
     font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
     text-decoration: none;
}
.logoContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.logo{
  width: 120px;
  height: 120px;
}

.logo-container{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}


nav{
    width: 100%;
    height: 80px;
    background-color: #00353F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10% 0 10%;
}

nav .logoPres h3{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
   font-size: 30px; 
   font-weight: 600;
}


nav .logoPres{
  display: flex;
  justify-content: center;
  align-items: center;
}


nav .logoPres img{
 height: 100px;
 width: 90px;
}

nav span{
  color: #4CAF50;
}
button{
    width: 2px auto;
    height: 35Px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: #bbbbbb;
    color: white;
    cursor: pointer;
}

nav{
    /*  */
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .logoPres h1 a{
    text-decoration: none;
    font-size: larger;
    font-weight: 1000;
    color: white;
}

nav .logoPres button a{
    color: white;
    font-size:  13ppx ;
    text-decoration: none;
    font-weight: 1000;
}


nav .logoPres h1 a   span:hover{
    color: #41e8a2;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
 .search-container button {
    background-color: #41e8a2;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;}


    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown-content a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: black;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
      
      .show {
        display: block;
      }

  /* ------------------------------------------------Css General-------------------------------------------------- */

    header{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
        align-items: center;
        background-color: white;
        font-size: 15px;
    }



    .img{
      width: 500px;
      height: 100%;
    }


    .top{
        display: flex;
        gap: 10px;
        width: 100%;
        height: 250px;
        margin-bottom: 60px;
       
    }

    .logo-container h3{
      font-weight: 800;
    }
    


    .categorie{
        width: 25%;
        height: 250px;
        background-color: white;
        border-radius: 10px;
        /* position: absolute;
        z-index: 11; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding-top: 25px;
        padding-left: 20px;
        font-size: 15px;

    }

    .categorie a{
      margin-bottom: 5px;
    }

    .categorie a:hover{
      background-color: #218838;
      color: white;
    }
    


    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }

    .slider {
        display: flex;
        overflow: hidden;
        /* width: 75%; */
      }
      
      .slide {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        transition: transform 0.5s ease;
      }

      .slider .slide img{
        width: 400px;
      }


      .top-right{
        display: flex;
        flex-direction: column;
        width: 10%;
      }

      .top-right .topLinks{
        width: 100%;
        height: 50%;
        background-color: white;
      }


      /*partie Produit*/

      /* .grid-container {
        display: flex;
        flex-direction: row;
        gap: 10px; */
        
         /* Espace entre les éléments */
        /* overflow: scroll; */
      /* } */
  /* ------------------------------------------------Css General-------------------------------------------------- */
      .product {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
         transition: transform 0.3s;
         word-wrap: break-word; /* Pour les anciennes normes de CSS */
    overflow-wrap: break-word;
      
      }
      
      .product:hover {
  transform: scale(1.05);
      }
/* ------------------------------------------------Css General-------------------------------------------------- */
      .container {
        position: relative;
        width: 300px;
        overflow: hidden;
        
      }
      
      .content {
        display: flex;
        width: max-content;
      }
      
      /* button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #3498db;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      } */
      
      .left-btn {
        left: 0;
      }
      
      .right-btn {
        right: 0;
      }

      .container{
        margin-top: 50px;
        width: 100%;
        height: 180px;
        background-color: white;
      }


      /* .container .content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

      } */
      .container .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        /* border: #000; */
       
        gap: 10px;
        /* overflow: scroll; */
      }

      .container_Carousel{
       
        height: 100%;
        background-color: #3498db;
        display: flex;
        padding: 10px;
        border-radius: 50%;
        padding: 40px;


      }
      
      

      .container .content img{
        width: 60px;
        height: 100%;
      }







      .slider-container {
        position: relative;
        width: 100%;

        overflow: hidden;
      }
      
      .slider {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
      }
      
      .slider img {
        width: 100%;
      }
      
      .slider-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .prev-btn,
      .next-btn {
        background-color: #fff;
        border: none;
        padding: 5px 10px;
        font-size: 20px;
        cursor: pointer;
      }
      
      .prev-btn {
        margin-right: 10px;
      }
      
      .next-btn {
        margin-left: 10px;
      }




        .event{
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: space-between;
          padding-left: 2%;
          padding-right: 2%;
          align-items: center;
          background-color:grey ;
          margin-top: 20px;
          margin-bottom: 20px;
          
        }


        a{
          text-decoration: none;
        }

        .ficheProd{
          display: flex;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
        }
        
        .product {
          
          scroll-snap-align: start;
         
        }
        
        .product img {
          width: 150px;
          height: 190px; /* Pour s'assurer que les images s'adaptent correctement */
        }




        .main{
          display: flex;
          width: 100%;
          height: 920px;
          background-color: #00353F;
          gap: 10px;
          margin-top: 20px;
        }

        .pubLeft{
          width: 25%;
          height: 350px;
          margin: 125px 0 125px 0;
          background-color: #bbbbbb;
          cursor: pointer;
          transition: transform 0.5s ease;
        }

        .pubLeft:hover{
          transform: scale(1.01);
        }


        .ficheProd{
          width: 80%;
          height: 590pX;
          background-color: #3498db;
          
        }


        .refKart{
          display: flex;

        }

        .refKart .numberKart{
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: white;
          color: #0c4d1a;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: 10px;
          right: 5px;
        }


        .pub2{
          width: 80%;
          height: 150px;
          margin: 20px 10% 0 10%;
          background-color: bisque;
        }

        .gridContainer a .product{
         
          height: 290px;
          width: 230px;
          background-color: white;
      

        }


        .gridContainer a .product .product-img{
          height: 60%;
        }


        .gridContainer a .product h3{
          font-weight: 800;
        }


        .gridContainer a .product h4{
          font-weight: 600;
        }





        .gridContainer{
          grid-template-columns: repeat(3, 1fr);
          flex-wrap: wrap;
          

        }





        .pub{
          width: 100%;
          /* margin: 0 10% 0 10%; */
          height: 200px;
          display: flex;
          gap: 10px;
          background-color: white;
          margin-top: 30px;
        }

        .pub a{
          text-decoration: none;
        }

        .pub .pubs{
          width: 50%;
          height: 100%;
          background-color: brown;
          cursor: pointer;
          transition: transform 0.3s;
          
      
        }

        .imagePub{
          /* width: 100%;
          height: 100%; */
          background-size:cover;
          overflow: hidden;
        }
        
        .pub .pubs:hover {
          transform: scale(1.01);
        }

        .grid-container .product{

          width: 200px;
          height: 340px;
          background-color: white;
          /* overflow: inherit; */
        }

        .grid-container .product h3{
          font-weight: bolder;
        }



      .marketing{
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr)
      }

      .brand{
        width: 175px;
        height:75PX;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

      }

     .marketing .brand img{
        width: 25px;
        height: 25px;
      }


      .seo{
        width:86%;
        height: 300px;
        margin: 20px 7% 0 7%;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.216);
        padding: 5%  0 0 5%;
      }

      .grid-container{
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
      }
      
      .product{
        display: inline-block;
      }
      
      /* Optionnel : Ajuster l'apparence de la barre de défilement */
      .products-container::-webkit-scrollbar {
        height: 8px;
      }
      
      .grid-container::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      
      .grid-container::-webkit-scrollbar-thumb {
        background-color: #888;
      }
      
      .grid-container::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }

/* -----------------------------------------Produit----------------------------------------------- */

.bodyProd{

  width: 80%;
  height: 100vh;
  margin: 0 10% 0 10%;
  background-color: #ECF8F6;
  display: flex;
  gap: 10px;
margin-top: 100px;
font-family: Arial, Helvetica, sans-serif;

}

.prodPresentation{
  width: 40%;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.prodPresentation img{
  width: 80%;
  height: 80%;
}


.prodDescrition{
  width: 58%;
  height: 500px;
  background-color: white;
  
}

.nomProduit{
  padding: 5% 0 0 5%;

}

.nomProduit h2{
  font-size: 22px;
  font-weight: lighter;
}

.mainProd{
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 600px;
}

.mainProd .description{
  width: 72%;
  height: 300px;
}

.mainProd .description .stock{
  width: 100px;
  height: 15px;
  border: solid orange;
  border-radius: 5px;
  padding:  10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}

.description{
  width: 72%;
  height: 300px;
}
.description .price{
  margin-top: 20px;
  margin-bottom: 20px;

}

.description .price .realPrice{
  font-weight: bolder;
  font-size: 30px;

}

.description .price .dashPrice{
  color: grey;
  text-decoration: line-through;
  font-size: 20px;
}

.color .containerColor{
  display: flex;
  gap: 5px;
  margin-bottom: 15px;

}

.color .containerColor .color-circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgb(191, 191, 191);
 
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.addKart[type="submit"]{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  margin: 20px 15% 0 15%;
  background-color: #00353F;
  text-decoration: none;
  color: white;
  border-radius: 7px;

}


.addKart:hover{
  background-color: #41e8a2;
}

.livraison{
  width: 28%;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  margin-right: 5%;
  padding: 40px 40px 40px 40px;
  height: 300px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  letter-spacing: 0,5px;
  

}
.livraison label img{
  width: 20px;
  height: 20px;
}

.livraison label{
  margin-top: 5px;
}

.deliver{
  width: 30px;
  height: 30px;
}


/* -------------------------------------------------Login------------------------------------- */


.bodylogin {
  font-family: Arial, sans-serif;
  
}

.containerLogin {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerLogin h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.containerLogin p {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.containerLogin form {
  display: flex;
  flex-direction: column;
}

.containerLogin input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.containerLogin button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.containerLogin button:hover {
  background-color: #0ba062;
}

.bodylogin p{
  padding-top: 15px;
  
}

.bodylogin h1{
  /* font-style: italic; */
  font-size: 30px;
}



.descriptionProd{

  bottom: 0;
}



























/* ------------------------------------------------Css General-------------------------------------------------- */


      * Footer */
.body  footer{
 padding:5% 10% 0 10%;
 margin-top: 15px;
}
footer {
  margin-top: 15px;
    background-color: #000;
    color: #fff;
    padding: 50px 10% 0 10%;
    height: 300px;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: #ccc;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
  }
  
  .social-media li {
    list-style-type: none;
  }
  
  .social-media li a {
    color: #fff;
    font-size: 18px;
  }
  
  .social-media li a:hover {
    color: #ccc;

  }
  
  /* Copyright */
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-copyright p {
    font-size: 14px;
  }

  main .title{
    margin-bottom: 20px;
  }

  /* ------------------------------------------------Css General-------------------------------------------------- */


  .bodyCategory{

    margin-bottom:  10px;
      padding: 0 10% 0 10%;
      background-color: #ECF8F6;
      height: auto;
       font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
       text-decoration: none;
       display: flex;
       gap: 10px;
       padding: 50px;
  }

  .bodyCategory .grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 80px;
     /* Espace entre les éléments */
    /* overflow: scroll; */
  }

  .bodyCategory .grid-container a{
    padding: auto;
  }
  .div{
    width: 70%;
  }

  .div .event{
    height: 50px;
    background-color: white;
  }


  .bodyCategory .product {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
     transition: transform 0.3s;
     word-wrap: break-word; /* Pour les anciennes normes de CSS */
overflow-wrap: break-word;}
  

  .filter-container {
    width: 30%;
      /* margin: 20px; */
      padding: 20px;
      border: 1px solid #ccc;
      background-color: white;
      height: auto;
    }
    
    .filter-container form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .filter-container label {
      font-weight: bold;
    }
    
    .filter-container select {
      width: 150px;
    }
    
    .filter-container input[type="range"] {
      width: 200px;
    }
    
    .filter-container input[type="text"] {
      width: 200px;
      border: solid 1px #000;
    }
    
    .filter-container input[type="submit"] {
      background-color: #000;
      color: #fff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

/* --------------------------------------------------register------------------------------------------ */
    .containerRegister {
      max-width: 400px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .containerRegister h1 {
      font-size: 24px;
      color: #333;
      text-align: center;
  }
  
  .containerRegister p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .containerRegister form {
      display: flex;
      flex-direction: column;
  }
  
  .containerRegister input {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  
  .containerRegister button {
      padding: 10px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 5px;
  }
  
  .containerRegister button:hover {
      background-color: #218838;
  }


    a{

      color: #333;
    }


  
 /* ---------------------------------------panier-------------------------------------    */

 .bodyPanier{
  height: auto;
  
 }

 .panier{
  display: flex;
  gap: 10px;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: lighter;
 }

 .bodyPanier h2,h3,h4{
  font-weight: lighter;
 }

 .listePanier{
  width: 70%;
 }

 .kartProducts{
  margin-top: 15px;
  padding-right: 10px;
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 15px 0 10px 0;
 }

 .kartProducts .h3 h3{
  font-size: medium;
  font-weight:bolder;
 }
 .kartProducts .h3{
  width: 30px auto;
 }


 .kartProducts .h4{
  margin-top: 20px;
  font-weight: bolder;
 }

 .kartProducts .kartProductImg{
  width: 15%;
  height: 100%;
  justify-content: center;
  align-items: center;
  

 }

 .kartProducts .kartProductImg img{
  width: 70%;
  height: 100%;
  /* object-fit: cover; */
 }

 .facture{
  
  width: 30%;

 }

 /* .prodKartQ{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  color: #333;
 } */

 .factureDetails{
  width: 100%;
  height: 500px;
  margin-top: 15px;
 }

 .factureDetails .total{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: end;
  padding-left: 5px;
 }

 .factureDetails .details{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
 }

 .factureDetails button{
  width: 80%;
  margin: 10px 0 0px 10%;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
 }

 .details{
  height: auto;
  width: auto;
  padding: 10px;
  background-color: white;
  border: 2px solid #f1f1f1;
 }


 /* ---------------------------------------------------checkout------------------------- */


 /* .bodyCheckout{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100vh;
} */

.body-checkout{
  display: flex;
  gap: 20px;
}

.bodyCheckout .container {
  width: 400px;
  margin: 50px auto;
  height: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bodyCheckout h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.bodyCheckout form {
  display: flex;
  flex-direction: column;
}

.bodyCheckout label {
  margin-top: 10px;
}

.bodyCheckout input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bodyCheckout button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.bodyCheckout button:hover {
  background-color: #00b345;
}


.bodyCheckout div{
  width: 100px;
  height: 100px;
}

.bodyCheckout p{
   margin-top: 10px;
   font-style: italic;
   font-size: large;
}

.bodyCheckout p a{
  text-decoration: underline;
}
.suppbutton{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: end; */
  width: 40px;
  height: 40px;
}
.suppBtn{
  width: 100px;
  height: 30px;
}

 .quantite-form {
  display: flex;
  align-items: center;
  width: auto;
  
}

.quantite-form label {
  margin-right: 10px;
  
}

.quantite-form div {
  display: flex;
  width: 50px;
  align-items: center;
}

 .quantite-form button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

 .quantite-form input {
  width: 30px;
  padding: 5px;
}

/* Styles généraux */
.bodyCommande {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles de la page de finalisation de commande */
.bodyCommande .order-confirmation-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.bodyCommande header, main, footer {
  margin-bottom: 20px;
}

.bodyCommande h1,.bodyCommande h2 {
  text-align: center;
}

.bodyCommande table {
  width: 100%;
  border-collapse: collapse;
}

.bodyCommande th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.bodyCommande th {
  background-color: #f2f2f2;
}

.bodyCommande .totale {
  text-align: right;
  font-weight: bold;
}

.bodyCommande .next-steps {
  text-align: center;
}

/* Styles du formulaire de commande */
.bodyCommande .order-form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bodyCommande header, form {
  margin-bottom: 20px;
}

.bodyCommande h1 {
  text-align: center;
}

.bodyCommande .form-group {
  margin-bottom: 15px;
}

.bodyCommande label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.bodyCommande input,.bodyCommande textarea,.bodyCommande select {
  width: 100%;
  padding: 10px;
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  box-sizing: border-box;
}

.bodyCommande button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bodyCommande button[type="submit"]:hover {
  background-color: #45a049;
}

.order-details p span{
  font-weight: 600;
  color:#0c4d1a;
}



